@{
    ViewBag.Title = "PrincipalAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="jumbotron">
    <h1>Ecommerce de Bicicleta y Scooter </h1>
    <p class="lead">ASP.NET</p>

</div>

