
@{
    ViewBag.Title = "VistaParcial";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div id="mostrarPedidos">
    @Html.Action("ListarPedidos", "Home")
</div>

<br />

<div id="mostrarDetallePedidos">
    @Html.Action("ListarDetallePedidos", "Home")
</div>

